---
import Logo from '../components/LogoFit.astro'
---

<header class="bg-black flex justify-between h-30">
    <div>
        <Logo/>
    </div>
    <nav>
        <ul class="flex text-white gap-10 pt-5">
            <li>Inicio Sesion</li>
            <li>Registro</li>
            <li>Mas Informacion</li>
        </ul>
    </nav>
</header>